@media screen and (max-width: 576px) {

    .bg-banner {
        max-width: 395px;
        margin: 0 auto;
    }

    .navbar,
    .banner,
    .habit-sec,
    .section-2,
    .team-members,
    .site-footer,
    .teams {
        margin: 0 auto;
        text-align: center;
    }

    .fs-1 {
        font-size: 2.3rem;
    }

    .five-hundred {
        font-size: 2rem;
        font-weight: 900;
    }

    .free-videos {
        font-size: 0.8rem;
    }

    .video-tutorials {
        font-size: 0.9rem;
    }

    .three-hundred {
        font-size: 1.2rem;
        font-weight: 900;
    }

    .nav-links {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .navbar {

        justify-content: space-between;
    }

    .banner {
        flex-direction: column;
    }

    .banner-title {
        font-size: 3rem;
    }

    #club {
        display: none;
    }

    .banner-des {
        margin-top: 0px;
        text-align: left;
        padding: 10px;
    }

    .banner-img {
        width: 80%;
        margin: auto;
    }

    .workout-videos {
        top: 40px;
        right: -30px;
        width: 48%;
        height: 15%;
    }

    .video-tutorial {
        margin-top: 0px;
        bottom: 240px;
        left: -30px;
        width: 50%;
        height: 14%;
    }

    .habit-des {
        margin-top: 0px;
        text-align: center;
    }

    #habit-break {
        display: none;
    }

    .habit-target {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .section-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        max-width: 390px;
        margin-top: 20px;
    }

    .run-sec {
        width: 95%;
        padding: 2px;
    }

    .heading2 {
        margin-top: 20px;
    }

    .jn-btn {

        width: 95%;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .run-img {
        margin: 10px;
    }

    .bmi-heading {
        text-align: left;
        max-width: 390px;
    }

    .bmi-calc {
        flex-direction: column;
    }

    .bmi-chart {
        max-width: 390px;
        margin-left: 0px;

    }

    .chart-heading {
        margin-left: 40px;
        text-align: left;
    }

    .bmi-input-sec {
        margin: 10px;
        max-width: 390px;
        margin-left: 40px;
    }

    .bmi-input-field {
        grid-template-columns: repeat(2, 170px);
    }

    .meet-team {
        max-width: 390px;
    }

    .team-members {
        grid-template-columns: repeat(1, 350px);
        justify-content: center;
        max-width: 370px;
    }

    .member1,
    .member4 {
        display: none;
    }

    .member3 {
        grid-area: 3/1/3/1;
    }

    .member5 {
        grid-area: 2/1/2/1;
    }


    .site-footer {
        flex-direction: column;
        margin-top: 10%;
        text-align: left;
        margin-left: 30px;
    }

    .brand-title-footer {
        font-size: 3.5rem;
    }

    .footer-des {
        width: 95%;
    }

    .gs {
        font-size: 1.5rem;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .footer-gs {
        padding: 0px;
    }

    .footer-line {
        max-width: 390px;
    }
}