@media screen and (max-width: 576px) {
    .nav-links{
        display: none;
    }
    .menu-bar{
        display: block;
    }
    .navbar{
     
        justify-content: space-around;
    }

.banner{
    flex-direction: column;
}
.banner-des{
    margin-top: 0px;
    text-align: center;
    padding: 10px;
}
.banner-img{
    margin-left: 150px;
    

}

.workout-videos {
    top: 40px;
    right: -30px;
}
.video-tutorial {
    margin-top: 0px;
    bottom: 240px;
    left: -30px;
}

.habit-des{
    margin-top: 0px;
    text-align: center;
    margin: 40px;
    /* padding: 10px; */
}
.habit-target{
    flex-direction: column;
}

}