@media screen and (max-width: 576px) {

    .bg-banner {
        max-width: 395px;
        margin: 0 auto;
        /* height: 1024px; */
    }

    .navbar,
    .banner,
    .habit-sec,
    .section-2,
    .team-members,
    .site-footer,
    .teams {
        /* max-width: 430px; */
        margin: 0 auto;
        text-align: center;
    }

    .nav-links {
        display: none;
    }

    .menu-bar {
        display: block;
    }

    .navbar {

        justify-content: space-between;
    }

    .banner {
        flex-direction: column;
    }

    .banner-des {
        margin-top: 0px;
        text-align: left;
        padding: 10px;
    }

    .banner-img {
        width: 80%;
        margin: auto;
        /* margin-left: 80px; */


    }

    .workout-videos {
        top: 40px;
        right: -30px;
    }

    .video-tutorial {
        margin-top: 0px;
        bottom: 240px;
        left: -30px;
    }

    .habit-des {
        margin-top: 0px;
        text-align: center;
        margin: 40px;
    }

    .habit-target {
        flex-direction: column;
        margin-bottom: 40px;
    }

    .section-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
        max-width: 390px;
        margin-top: 20px;
    }

    .run-sec {
        width: 95%;
        padding: 2px;
        /* width: 350px; */
    }

    .heading2 {
        margin-top: 20px;
    }

    .jn-btn {
        width: 95%;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .run-img {
        margin: 10px;
    }

    .bmi-heading {
        text-align: left;
        max-width: 390px;
    }

    .bmi-calc {
        flex-direction: column;
        /* height: 600px; */
    }

    .bmi-chart {
        max-width: 390px;
        margin-left: 0px;

    }

    .chart-heading {
        margin-left: 40px;
        text-align: left;
    }

    .bmi-input-sec {
        margin: 10px;
        max-width: 390px;
        margin-left: 40px;
    }

    .bmi-input-field {
        grid-template-columns: repeat(2, 170px);
    }

    .meet-team{
        max-width: 390px;
    }
    .team-members {
        grid-template-columns: repeat(1, 350px);
        justify-content: center;
        max-width: 370px;
    }

    .member1,
    .member4 {
        display: none;
    }

    .member3 {
        grid-area: 3/1/3/1;
    }

    .member5 {
        grid-area: 2/1/2/1;
    }


    .site-footer {
        flex-direction: column;
        margin-top: 10%;
        text-align: left;
        margin-left: 30px;
    }

    .footer-des {
        width: 95%;
    }

    .gs {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .footer-gs {
        padding: 0px;
    }

    .footer-line {
        max-width: 390px;
    }
}